{% extends 'master/base.html' %}

{% block htmlhead %}
{% load html_tools %}
{{ 'manage/table.css' | as_css }}
{% endblock %}

{% block content %}

<h3>组织概况</h3>
<div class="table-responsive">
    <table class="table table-bordered table-hover .table-condensed">
        <thead class="table_head">
            <tr>
                <th>组织名</th>
                <th>组织主页</th>
                <th>组织Logo</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for org in organizations %}
            <tr>
                <td><a href="/manage/organization/{{ org.id }}"> {{ org.name }}</a></td>
                <td><a href="/manage/organization/{{ org.id }}"> {{ org.url | default:'暂无'}}</a></td>
                <td><a href="/manage/organization/{{ org.id }}"> {{ org.logo | default:'暂无' }}</a></td>
                <td><a href='/manage/organization/{{ org.id }}/edit'>编辑</a></td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>  

{% endblock %}
