{% extends 'master/base.html' %}

{% block htmlhead %}
{% load html_tools %}
{{ 'manage/list.css' | as_css }}
{{ 'manage/account.css' | as_css }}
{{ 'admin/account.js' | as_js }}
{% endblock %}

{% block content %}

<h3>用户管理</h3>
<div class="table-responsive">
    <table class="table table-bordered table-hover .table-condensed">
        <thead class="table_head">
            <tr>
                <th>邮箱</th>
                <th>姓名</th>
                <th>昵称</th>
                <th>学院</th>
                <th>状态</th>
                <th>操作</th>

            </tr>
        </thead>
        <tbody>
            {% load account_custom %}
            {% for stu in page %}
            <tr>
                <td><a href="/manage/account/{{stu.id}}"> {{ stu.user.email }}</a></td>
                <td><a href="/manage/account/{{stu.id}}"> {{ stu.true_name | default:'暂无'}}</a></td>
                <td><a href="/manage/account/{{stu.id}}"> {{ stu.screen_name }}</a></td>
                <td><a href="/manage/account/{{stu.id}}"> {{ stu | get_college_name }}</a></td>
                <td><a href="/manage/account/{{stu.id}}"> {{ stu | get_student_status }}</a></td>
                <td><a href="javascript:void(0)" onclick="$S.Account.remove({{stu.id}})" class="control">删除</a>
                    <a href="javascript:void(0)" onclick="$S.Account.ban({{stu.id}})" class="control">
                        {% if stu.user.is_active %}
                        禁用
                        {% else %}
                        恢复
                        {% endif %}
                    </a>
                </td>

            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>  

{% include 'plugin/paginator.html' with page=page %}
{% endblock %}