{% extends 'master/base.html' %}

{% block htmlhead %}
{% load html_tools %}
    {{ 'manage/view.css' | as_css }}
{% endblock %}

{% block content %}
<div class="message_view">
    <li style="font-size:18px"><strong>后台管理</strong></li>
    <div class="line_view"></div>
    <li>{{ user.student.screen_name }} 你好。</li>
    <form method="post" action="{% url 'master:sms' %}">
        {% csrf_token %}
        Number:<input type="number" name="phone" />
        Name:<input type="tex" name="name" />
        <input type="submit" value="Send" />
    </form>

    <form method="post" action="{% url 'master:convert' %}">
        {% csrf_token %}
        Year:
        <select name="year">
			<option value="1994">1994</option>
			<option value="1995">1995</option>
			<option value="1996">1996</option>
			<option value="1997">1997</option>
			<option value="1998">1998</option>
			<option value="1999">1999</option>
			<option value="2000">2000</option>
        </select><br />
        Month:
        <select name="month">
			<option value="1">正月</option>
			<option value="2">二月</option>
			<option value="3">三月</option>
			<option value="4">四月</option>
			<option value="5">五月</option>
			<option value="6">六月</option>

			<option value="7">七月</option>
			<option value="8">八月</option>
			<option value="9">九月</option>
			<option value="10">十月</option>
			<option value="11">十一月</option>
			<option value="12">十二月</option>
        </select>
        <br />
        Day:
        <select name="day">
			<option value="1">初一</option>
			<option value="2">初二</option>
			<option value="3">初三</option>
			<option value="4">初四</option>
			<option value="5">初五</option>

			<option value="6">初六</option>
			<option value="7">初七</option>
			<option value="8">初八</option>
			<option value="9">初九</option>
			<option value="10">初十</option>

			<option value="11">十一</option>
			<option value="12">十二</option>
			<option value="13">十三</option>
			<option value="14">十四</option>
			<option value="15">十五</option>

			<option value="16">十六</option>
			<option value="17">十七</option>
			<option value="18">十八</option>
			<option value="19">十九</option>
			<option value="20">廿十</option>

			<option value="21">廿一</option>
			<option value="22">廿二</option>
			<option value="23">廿三</option>
			<option value="24">廿四</option>
			<option value="25">廿五</option>

			<option value="26">廿六</option>
			<option value="27">廿七</option>
			<option value="28">廿八</option>
			<option value="29">廿九</option>
			<option value="30">三十</option>
        </select>
        <input type="submit" value="Convert" />
    </form>
</div>
{% endblock %}
