/*表格*/
.table_head tr th,table tr td
{
	text-align: center;
	overflow: hidden;
}
table tr td a
{
	display: inline-block;
	text-align: center;
	width: 100%;
	height: 100%;
	text-decoration: none;

}
table tr td a:hover
{
	text-decoration: none;
}
table tr td:hover
{
	background-color: rgb(39,40,34);
	
}
table tr td a.control
{
	width:45%;
	height: 100%;
}

.control + .control
{
	border-left: 2px solid #e7e7eb;
}