.content{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.content li{
    list-style: none;
    line-height: 300%;
    vertical-align: middle;
}
.content label{
    display: inline-block;
    width: 20%;
    text-indent: 5%;
}
.content select{
    border: 0px;
    font-size: 14px;
    line-height: 14px;
    font-family: "Microsoft Yahei";
    color: #7e7e7e;
    border: 2px solid #e5e5e5;
}
.content input[type=text]{
    width: 300px;
    border: solid 2px #e7e8eb;
    font-size: 14px;
    line-height: 200%;
    font-family: "Microsoft Yahei";
    color: #7e7e7e;
}
.content textarea{
    width: 400px;
    height: 60px;
    font-size: 14px;
    font-family: "Microsoft Yahei";
    color: #7e7e7e;
    vertical-align: middle;
    margin: 10px 0px;
    resize: none;
    border: 2px solid #e7e8eb;
}
.line_list{
    width: 95%;
    margin: 0 auto;
    border-top: 2px solid  #e7e8eb;
}
.line_aside{
    width: 100%;
    border-top:2px solid  #e7e8eb;
}
.error{
    color: #ff804d;
}
div.add
{
    margin: 10px 0;
    
    width: 100%;
    text-align: center;
}
div.add input
{
    font-size: 20px;
}