.message_view{
    width: 100%;
    position: relative;
    margin-top: 30px;
    overflow: hidden;

}
.message_view h3
{
    padding-bottom: 10px;
    border-bottom: 2px solid #e7e8eb;
    text-align: center;
}
.message_view p{
    text-align: center;
}